html,
.text-center {
  height: 100%;
}

.text-center {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #e4f9ff;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.home {
    background-color: #e4f9ff;
    margin: 3%;
}
a.nav-link {
    padding-left: 30px !important;
    padding-right: 30px !important;
    font-size: 1.5rem;
}
.icon {
    text-align: center;
    color:#000;
    font-size: 1.5rem;
    padding-left: 10px;
    padding-right: 10px;
}

.table td, .table th {
    border-bottom: 1px solid #dee2e6;
    vertical-align: top;
    padding:.75rem;
    padding-right: .5rem; 
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  .pagination li a{
      background-color: #343a40;
      color: #eeeeee;
  }